@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    margin: auto;
}
header{
    width: 100%;
    height: 160px;
    background: #fff;
    
}
.head{
    width: 63.2%;
    height: 160px;
    margin: 0px auto;
    min-width: 1200px;
    font-family: "微软雅黑";
    background: url(../img/shijie.jpg);
}
.img{
    width: 200px;
    height: 130px;
    border-radius: 30px;
    position: relative;
    top: 15px;
}
.p{
    width:208px;
    height: 22px;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    left: 480px;
    top: -100px;
}
.int{
    width: 160px;
    border:none;
    outline: none;
    padding: 0 0 0 10px;
    position: relative;
    top: -4px;
}
.but{
    width: 30px;
    height: 20px;
    background: #fff;
    border: none;
    border-left:1px solid #ccc; 
    margin-top: 2px;
    outline: none;
}
.img-bu{
    width: 19px;
    height: 19px;
    
}
.ul li{
    width: 100px;
    height: 22px;
    border-right: 1px solid #ccc;
    list-style: none;
    float: right;
    line-height: 22px;
    text-align: center;
    position: relative;
    top: -120px;
    color: #333;
    font-size: 17px;
}
.ul li a{
    color: #333;
    text-decoration:none;
}
.ul li a:hover{
    color: red;
}
.div-ul1{
    width: 1230px;
    height: 76px;
    position: absolute;
    top: 100px;
}
.ul1 li{
    width: 120px;
    height: 35px;
    list-style: none;
    float:right;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: 25px;       
    color: #333;
    font-size: 20px;
    cursor: pointer;
}
.ul1 li a{
    color: #333;
    text-decoration:none;
}
.ul1 li a:hover{
    color: red;
}
.li-xia{
    margin: auto;
}
.ul1-cai{
    width: 320px;
    height: 0px;
    background: #fff;
    position: absolute;
    top: 40px;
    z-index: 100;
    transition: 0.5s;
    overflow: hidden;
}
.ul1 li:hover .ul1-cai{
    height: 350px;
   cursor: pointer;
}
.ul1-cai ul{
    width: 85px;
    height: 350px;
    background: #f0f0f0;
    list-style: none;
    position: absolute;   
    padding: 3px 14px 4px 14px;
}
.ul1-cai ul li{
    width: 95px;
    height: 33px;
    color: #333;
    position: relative;
    border-bottom: 1px solid #ccc;
    top: 10px;
    left: 5px;
    font-size: 13px;
    text-align: left;
}
.ul1-cai ul li:hover{
    color: red;
}
.div-ip{
    width: 190px;
    height: 320px;
    position: relative;
    left: 120px;
}
.div-ip p{
    font-size: 14px;
    color: #333;
    text-align: left;
}
.img-h{
    width:180px;
    height:75px;
    margin: 10px 5px;  
}

.bei{
    width: 100%;
    height: 50px;
    background: #005aab;
}
.all{
     width:100%;
     height:210px;
     min-width: 1200px;
     margin:0 auto;
     position:relative;
     background: url(../img/xiang.jpg);
     background-size: 100% 100%;
}
.div-ye{
    width: 1200px;
    height: 100%;
    margin:30px auto;
    position: relative;
}
.div-zu{
    width: 240px;
    height: 550px;
    float: left;
}
.p-z{
    width: 100%;
    height: 45px;
    text-align: left;
    font-size: 20px;
    color: #444;
    line-height: 45px;
}
.div-zu ul li{
    width: 225px;
    height: 40px;
    padding: 0 0 0 15px;
    background: #ebebeb;
    list-style: none;
    margin-top: 2px;
    color: #6d6d6d;
    line-height: 40px;
    cursor: pointer;
}
.div-zu ul li p{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-left: 1px solid #ccc;
    float: right;
    font-size: 18px;
}
.div-zu ul li:hover{
    background: #005aab;
    color: #fff;
}
.div-di{
    width: 238px;
    height: 340px;
    border: 1px solid #ebebeb;
    margin: 15px auto;
}
.img-l{
    width: 100%;
    height:100px;
}
.div-di p{
    font-size: 14px;
    color: #666;
    line-height: 25px; 
}
.img-x{
    width: 104px;
    height: 75px;
    margin-left: 20px;
}
.div-yu{
    width: 900px;
    float: left;
    position: relative;
    left: 40px;
}
.div-ha{
    width: 100%;
    height: 45px;
    box-shadow: 1px 15px 25px #ebebeb;
}
.p-h{
    float: left;
    height: 42px;
    padding: 0 0 0 13px;
    color: #504f4f;
    font-size: 18px;
    line-height: 42px;
}
.p-d{
    float: right;
    line-height: 42px;
    text-align: right;
    color: #777777;
    font-size: 13px;
}
.p-d span:hover{
    color: #005aab;
    cursor: pointer;
}
.div-nei{
    width: 100%;
    height: 550px;
    background: #fcfcfc;
}
.div-nei p{
    margin: 40px 0;
    color: #333;
    font-size: 18px;
    text-align: left;
}
.foot{
    width: 100%;
    height: 150px;
    background: #005aab;
    position: absolute;
    top:1100px;
}
.foot-div{
    width: 1200px;
    height: 150px;
    margin: auto;
}
.foot-div ul li{
    width: 70px;
    height: 18px;
    border-left: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    list-style: none;
    text-align: center;
    line-height: 18px;
    float: left;
    position: relative;
    top: 20px;
}
.foot-div ul li a{
    color: #fff;
    text-decoration:none;
}
.foot-div p{
    text-align: left;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    top: 18px;
}
.foot-div img{
    float: right;
    position: relative;
    top: -55px;
}







